name: CI Tests
on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - main
      - 0.x
jobs:
  build:
    name: Check format, build, test, check documentation
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        scala: [2.12.16, 2.13.8, 3.1.2]
        java: [adopt@1.11]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Java and Scala
        uses: olafurpg/setup-scala@v10
        with:
          java-version: ${{ matrix.java }}
      - name: Cache sbt
        uses: actions/cache@v2
        with:
          path: |
            ~/.sbt
            ~/.ivy2/cache
            ~/.coursier/cache/v1
            ~/.cache/coursier/v1
          key: ${{ runner.os }}-sbt-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}
      - if: ${{ github.event_name == 'pull_request' }}
        run: 'sbt scalafmtCheckAll'
      - run: 'sbt ++${{ matrix.scala }} test'
      - if: matrix.scala == '2.13.8'
        run: sbt ++${{ matrix.scala }} documentation/mdoc
