name: PR Branch Labeler

on:
  pull_request_target:
    types:
    - opened

jobs:
  label_prs:
    runs-on: ubuntu-latest
    steps:
    - name: Label PRs
      uses: ffittschen/pr-branch-labeler@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
